{
    "tabWidth": 4,
    "printWidth": 320,
    "semi": false,
    "trailingComma": "none",
    "singleQuote": true,
    "prettier.jsxSingleQuote": true,
    "prettier.bracketSpacing": true,
    "prettier.arrowParens": "always"
}
