{
  "tabWidth": 2,
  "printWidth": 320,
  "semi": false,
  "trailingComma": "none",
  "singleQuote": true,
  "prettier.jsxSingleQuote": true,
  "prettier.bracketSpacing": true,
  "prettier.arrowParens": "always"
}
